@model IEnumerable<Management.Models.WriteUp>

<div class="row">
	<form asp-action="Index" method="get">
		<!-- Work Title Dropdown -->
		<div class="row g-3 justify-content-between align-items-center">
			<div class="col-lg-3 col-md-6 col-sm-12">
				<a asp-action="WriteUp" class="btn btn-primary"><i class="fa fa-plus"></i> Submit New Report</a>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<select id="WorkId" name="WorkId" class="form-select select-work" asp-items="ViewBag.Work">
					<option value="">Filter by Project</option>
				</select>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<select id="sortOrder" name="sortOrder" class="form-select" asp-items="ViewBag.SortOrderList"></select>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12">
				<button type="submit" class="btn btn-primary">View</button>
			</div>
		</div>
	</form>

</div>

<div class="row">
	<div class="col-md-12">
		@if (Model != null && Model.Any())
		{
			<div class="card card-header mt-2">
				<h5 class="text-uppercase mb-0">Report - @Model.First().Users?.Username - (@Model.First().Users?.Desi?.DesiName)</h5>
			</div>
			foreach (var task in Model)
			{
				<div class="card mb-3">
					<div class="card-body" style="margin-top:-12px !important">
						<!-- Task Details -->
						<div class="row">
							<div class="col-md-12 card-header">
								<h5>
									<strong>Date: @task.SubmittedDate.ToShortDateString()</strong>
									| <strong>Project:</strong><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-controller="Report" asp-action="Index" asp-route-WorkId="@task.Work.Id">
										@task.Work.Code-@task.Work.Title @if (task.Work.IsComplete)
										{
											<i class="fa fa-check" style="color: green;" aria-hidden="true"></i>
										}
									</a>
								</h5>
								<h6 class="text-black-50">
									<strong>Department:</strong> @task.Work.Dept?.DeptName
									| <strong>Reporting to:</strong> @task.Work.Users?.Username
									| <strong>Task:</strong> @task.Tasklist?.TaskName
								</h6>
							</div>
							<div class="col-md-12 mt-3 overflow-auto">
								<strong class="text-uppercase">Remark: </strong><span style="font-style:italic">@task.SubmittedDate.ToString("dd/MMM/yyyy hh:mm tt")</span>
								<p class="fs-6 fs-md-5">@Html.Raw(task.Remark)</p>
								@if (task.Linkpaths != null && task.Linkpaths.Any())
								{
									<h6>Attached Files:</h6>
									int i = 1;
									@foreach (var item in task.Linkpaths)
									{
										<a href="@Url.Content($"~/uploads/{System.IO.Path.GetFileName(item.Link)}")" target="_blank" class="btn btn-link">attached-@i</a>
										i++;
									}
								}
							</div>
							<!-- Comments Section -->
							<div class="col-md-12 mt-3">
								<div id="comments-section-@task.Id">
									@await Html.PartialAsync("_CommentsPartial", task.Comment)
								</div>
							</div>
							<!-- Add Comment Button -->
							<div class="col-md-12 mt-3">
								<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#commentModal-@task.Id"><i class='fa fa-comment'></i> Add Comment</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Comment Modal -->
				<div class="col-md-12 mt-3">
					@await Html.PartialAsync("_CommentModalPartial", task.Id)
				</div>
			}
			<!-- Pagination -->
			<div>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						@if (ViewBag.TotalPages > 1)
						{
							@for (int i = 1; i <= ViewBag.TotalPages; i++)
							{
								<li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
									<a class="page-link" href="@Url.Action("Index", new { page = i, UserId = ViewBag.SelectedUserId })">@i</a>
								</li>
							}
						}
					</ul>
				</nav>
			</div>
		}
		else
		{
			<div class="card card-header mt-2">
				<h5 class="text-uppercase mb-0">Report - @(ViewBag.userdata.Username ?? "invalid User") - (@(ViewBag.userdata.Desi.DesiName ?? "invalid Designation"))</h5>
			</div>
			<div class="d-flex justify-content-center align-items-center mt-5">
				<div class="text-center">
					<h5><i class="fa fa-ban"></i> No remark found.</h5>
				</div>
			</div>
		}
	</div>
</div>